table#projects
	tr
		th(style="width:960px;") Project
		th(style="width:90px;") Due
		th(style="width:120px;") Team
		th Status
	each project in projects
		tr
			td.projectName #{project.name}
			td.projectVersion #{project.date}
			td.projectPersons
				each member in project.team
					img.person(style='margin-left:4px', src='/images/'+ member + '.png')
			td.projectsBars
				- for (var i=1;i<=project.bars;i++) {
				- var classes=['barSegment','value'+i]
				div(class=classes)
				- }